@{
    Layout = "_Layout";
}
@model ModifAjoutAdminViewModel


<h1>Modifier un livre</h1>

<form asp-action="ConfirmationModif" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label class="form-label">
            Identifiant : @Model.Identifiant
        </label>
        <input type="hidden" value="@Model.Identifiant" name="Identifiant" />
    </div>

    <div class="mb-3">
        <label asp-for="NombrePages" class="form-label">
            Nombre de pages :
        </label>

        <input type="text" asp-for="NombrePages" value="@Model.NombrePages" />
        <span asp-validation-for="NombrePages" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Titre" class="form-label">
            Titre :
        </label>

        <input type="text" asp-for="Titre" value="@Model.Titre" />
        <span asp-validation-for="Titre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Edition" class="form-label">
            Edition :
        </label>

        <input type="text" asp-for="Edition" value="@Model.Edition" />
        <span asp-validation-for="Edition" class="text-danger"></span>
    </div>

    <div class="mb-3">

        <label asp-for="Isbn" class="form-label">
            ISBN :
        </label>

        <input type="text" asp-for="Isbn" value="@Model.Isbn" />
        <span asp-validation-for="Isbn" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DateEdition" class="form-label">
            Date d'édition :
        </label>

        <input type="text" asp-for="DateEdition" value="@Model.DateEdition" />
        <span asp-validation-for="DateEdition" class="text-danger"></span>
    </div>

    <div class="mb-3">

        <label asp-for="DateLecture" class="form-label">
            Date de lecture :
        </label>

        <input type="text" asp-for="DateLecture" value="@Model.DateLecture" />
        <span asp-validation-for="DateLecture" class="text-danger"></span>
    </div>

    <div class="mb-3">

        <label asp-for="Note" class="form-label">
            Note :
        </label>

        <input type="text" asp-for="Note" value="@Model.Note" />
        <span asp-validation-for="Note" class="text-danger"></span>

    </div>

    <div class="mb-3">

        <label asp-for="Resume" class="form-label">
            Resume :
        </label>

        <input type="text" asp-for="Resume" value="@Model.Resume" />
        <span asp-validation-for="Resume" class="text-danger"></span>
    </div>

    <input type="submit" value="Confirmer" />
</form>

@section Scripts{
   <partial name="_ValidationScriptsPartial" />
}